* {
  box-sizing: border-box;
}
body {
  background-color: rgb(105, 103, 222);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(71, 2, 2);
  padding: 0px;
  display: flex;
}
.pictures-container {
  position: absolute;
}
.firstpic {
  width: 600px;
  height: 400px;
  position: relative;
  left: 650px;
}
.secondpic {
  width: 500px;
  height: 400px;
  position: relative;
  top: 200px;
  right: 500px;
}
.thirdpic {
  width: 500px;
  height: 500px;
  position: relative;
  top: 200px;
  left: 200px;
}
