* {
  box-sizing: border-box;
}
body {
  background-color: rgb(105, 103, 222);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(71, 2, 2);
  padding: 0px;
  display: flex;
  justify-content: center;
}
.pictures-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.firstpic {
  width: 600px;
  height: 400px;
}
.secondpic {
  width: 500px;
  height: 400px;
  cursor: pointer;
}
.thirdpic {
  width: 500px;
  height: 500px;
  cursor: pointer;
}
.forButtons {
  display: flex;
  justify-content: flex-end;
}
/* .containerPeople {
  display: grid;
  justify-content: flex-start;
  align-items: flex-end;
} */
.peopleTable {
  border: 3px solid green;
}
th,
td {
  min-width: 100px;
}

th {
  border: 3px solid ghostwhite;
}
/* .containerShip {
  display: grid;
  justify-content: flex-end;
} */
.shipsTable {
  border: 3px solid blue;
}
td {
  border: 3px solid lawngreen;
}

.tables-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
